# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Python environment files
*.env
.env

# Cache
.cache/
*.egg-info/

# MySQL or SQLite database dumps
*.db
*.sql

# Test coverage
htmlcov/
.tox/
.nox/

# Pytest
.pytest_cache/

# Pydantic compiled models
*.mypy_cache/
